.danger {
    width: 50px;
    height: 50px;
    background-color: red;
}

.safe {
    width: 50px;
    height: 50px;
    background-color: green;
}

.warning {
    width: 50px;
    height: 50px;
    background-color: yellow;
}
